<nav #navbar class="app-header navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid px-4">
    <a class="navbar-brand" routerLink="/" (click)="closeNav()">
      <img src="/assets/icons/logo_acuario.png" alt="Aquarium" class="logo-aquarium">
    </a>
    <button class="navbar-toggler navbar-toggler-orange" type="button" (click)="toggleMenu()" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="mainNav" class="collapse navbar-collapse" [class.show]="menuOpen">
      <ul class="navbar-nav mx-auto gap-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" (click)="closeNav()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/us" routerLinkActive="active" (click)="closeNav()">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservas" routerLinkActive="active" (click)="closeNav()">Reservas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#entradas" (click)="closeNav()">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#galeria" (click)="closeNav()">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="contacto" (click)="closeNav()">Visítanos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
